


/* ------- Jumbotron -------- */
.jumbotron{
    background-color: black;
    width: 100%;
    text-align: center;
}

#play-btn{
    color: white;
    background-color: #1F6521;
}


/* ------- cards -------- */
.card{
    height: 100%;
    background-color: black;
}
.card-img-top{
    height: 200px;
}
.card .card-title{
    color: #1F6521;
    text-align: center;
}




