/* Main content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 58px);
}
  
.container-fluid {
    max-width: 500px;
    margin: 0 auto;
}

/* Sign in button */
#sign-in-btn{
    background-color: #1F6521;
}
