<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>neatCode - gameplay</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <!-- Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game-stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-stylesheet.css') }}">  
    
    <!-- Modules -->
    <!-- codeflask -->
    <script src="{{ url_for('static', filename='node_modules/codeflask/build/codeflask.min.js')}}"></script>
    
    <!-- prism -->
    <script src="{{ url_for('static', filename='node_modules/prismjs/prism.js')}}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    
    <!--
    <script type="text/javascript" src="{{url_for('static', filename='node_modules/highlight-within-textarea/jquery.highlight-within-textarea.js')}}"></script>
    <script src="{{url_for('static', filename = 'node_modules/tipso/src/tipso.js')}}"></script>
    -->
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">neatCode</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/game">Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout {{ user.username }}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <!-- Main Body -->
    <main>

      <!-- Main container -->
      <div class="container-fluid">
        <div class="row" id="game">
          <div class="col-md-9">
            <!-- CodeFlask -->
            <!-- flask div -->
            <div class="code-editor" id='codeflask'>
              {{code}}
            </div>
            <!-- flaskcode script -->
            <script>
              const editorElem = document.getElementById('codeflask');
              const flask = new CodeFlask(editorElem, {language: 'js', lineNumbers: true, readonly:true});
            </script>
          </div>
          <div class="col-md-3">
            <div class="bg-secondary text-white p-3">
              multiple option section
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="py-3">
      <div class="container-fluid text-center">
        <p> 2023 neatCode</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

