<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neatCode - Develop Your Programming Skills</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
	  <link rel="stylesheet" href="./static/CSS/homepage-stylesheet.css">
    <link rel="stylesheet" href="./static/CSS/main-stylesheet.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">neatCode</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    

    <!-- Main Body -->
    <main>
      <!-- Jumbotron -->
      <section class="jumbotron">
        <h1 class="display-4">Improve Your Programming Skills</h1>
        <p class="lead">neatCode is a fun and engaging way to practice programming and improve your skills.</p>
        <hr class="my-4">
        <a class="btn btn-lg" href="#" role="button" id="play-btn">Play Now</a>
      </section>

      <!-- group of cards -->
      <section class="container-fluid" style="width:fit-content; padding-bottom: 32px;">
        <div class="row">
          <div class="col-sm-4">
            <!-- card 1 -->
            <div class="card">
              <img class="card-img-top" src="coding.png" alt="coding icon">
              <div class="card-body">
                <h5 class="card-title">Challenging Programming Puzzles</h5>
                <p class="card-text">neatCode provides a variety of programming puzzles that will help you develop and test your programming skills.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- card 2 -->
            <div class="card">
              <img class="card-img-top" src="leaderboard.png" alt="leaderboard icon">
              <div class="card-body">
                <h5 class="card-title">Compete on the Leaderboard</h5>
                <p class="card-text">neatCode allows you to compete with other players and climb the leaderboard.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- card 3 -->
            <div class="card">
              <img class="card-img-top" src="certificate.png" alt="certificate icon">
              <div class="card-body">
                <h5 class="card-title">Earn Certificates and Badges</h5>
                <p class="card-text">neatCode offers certificates and badges that you can earn as you progress and master programming concepts.</p>
              </div>
            </div>
          </div>
        </div>
    </main>

    <footer class="py-3">
      <div class="container text-center">
        <p>&copy; 2023 neatCode</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

