<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neatCode - Sign Up</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <!-- Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-stylesheet.css') }}">
    <!-- HTML -->
	  <link rel="stylesheet" href="./static/CSS/signup-stylesheet.css">
    <link rel="stylesheet" href="./static/CSS/main-stylesheet.css">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">neatCode</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/play">Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Main Body -->
    <main class="py-5">
        <div class="container">
	    {% with msg=get_flashed_messages()%}
             {% if msg %}
                   {% for m in msg %}
                      <h4>{{ m }}</h4>
                   {% endfor %}
             {% endif %}
          {% endwith %}
          <h1 class="text-center mb-4">Sign Up</h1>
          <form method='POST'>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
              <label for="repeat-password">Repeat Password</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat your password" required>
            </div>
            <button type="submit" class="btn btn-block" id="sign-up-btn">Sign Up</button>
          </form>
        </div>
      </main>

    <!-- footer -->
    <footer class="py-3">
      <div class="container-fluid text-center">
        <p>2023 neatCode</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>